<div class="container">
    <div class="card p-3 shadow " >
        <div class="text-center">
            <img src="/Images/ZippyZipLogo.jpg" style="width:20%; height:20%"/>
            <h1 class="display-4 mb-4" style="color: crimson;">Contact Us</h1>
            <p class="lead mb-4" style="color:darkorange;font-style: italic; font-family: 'Brush Script MT', cursive;font-size:small">If you have any questions, please do not hesitate to reach out to us!</p>
            <a href="mailto:dotnet-how@outlook.com" class="btn btn-outline-danger btn-lg">
                Email Us
            </a>
        </div>
    </div>
</div>