@{
    ViewBag.Title = "CheckoutComplete";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-8 text-center">
        <div class="border rounded-4 shadow p-5 bg-light">
            <img src="https://cdn-icons-png.flaticon.com/512/742/742751.png" alt="Success Smiley" style="width:100px; height:100px;" class="mb-4" />

            <h2 class=" fw-bold mb-3" style="color:crimson">Order Completed! 🎉</h2>

            <p class="lead" style="color:darkorange;font-style: italic; font-family: 'Brush Script MT', cursive;font-size:small">@ViewBag.CheckoutCompleteMessage</p>

            <a href="/" class="btn btn-outline-secondary mt-4">Back to Home</a>
        </div>
    </div>
</div>